/*
  * Aline.css, Light CSS-Grid Framework;
  * Author: Vladimir "srw" Ozhiganov;
  * Version: 0.1.2;
*/
html {
  	position: relative;
  	min-height: 100%
}
* {
  	box-sizing: border-box;
  	-webkit-box-sizing: border-box;
  	-moz-box-sizing: border-box
}
:after, :before {
  	box-sizing: border-box;
  	-webkit-box-sizing: border-box;
  	-moz-box-sizing: border-box
}
body {
  	margin: 0
}
button {
  	cursor: pointer;
  	outline: none;
  	border: none;
  	background: none;
  	padding: 0
}
button:hover,button:active,button:link,button:focus,a:hover,a:active,a:link,a:focus {
  	text-decoration: none;
  	outline: none
}
label {
  	margin-bottom: 0
}
img {
 	 max-width: 100%
}
input:focus {
  	outline: 0
}
.container {
 	margin-left: auto;
  	margin-right: auto;
  	padding-left: 15px;
  	padding-right: 15px;
  	font-size: 0
}
.container-p {
  	margin-left: auto;
  	margin-right: auto;
  	font-size: 0
}
.col-wrap {
  	font-size: 0;
  	display: inline-block;
  	width: 100%
}
.col-wrap > div {
  	vertical-align: top;
  	transition: all .1s ease
}
.col-5,.col-8,.col-10,.col-15,.col-16,.col-20,.col-25,.col-30,.col-33,.col-34,.col-35,.col-40,.col-42,.col-45,.col-50,.col-55,.col-58,.col-60,.col-65,.col-66,.col-70,.col-75,.col-80,.col-84,.col-85,.col-90,.col-92,.col-95,.col-100,.col-l-5,.col-l-8,.col-l-10,.col-l-15,.col-l-16,.col-l-20,.col-l-25,.col-l-30,.col-l-33,.col-l-34,.col-l-35,.col-l-40,.col-l-42,.col-l-45,.col-l-50,.col-l-55,.col-l-58,.col-l-60,.col-l-65,.col-l-66,.col-l-70,.col-l-75,.col-l-80,.col-l-84,.col-l-85,.col-l-90,.col-l-92,.col-l-95,.col-l-100,.col-m-5,.col-m-8,.col-m-10,.col-m-15,.col-m-16,.col-m-20,.col-m-25,.col-m-30,.col-m-33,.col-m-34,.col-m-35,.col-m-40,.col-m-42,.col-m-45,.col-m-50,.col-m-55,.col-m-58,.col-m-60,.col-m-65,.col-m-66,.col-m-70,.col-m-75,.col-m-80,.col-m-84,.col-m-85,.col-m-90,.col-m-92,.col-m-95,.col-m-100,.col-s-5,.col-s-8,.col-s-10,.col-s-15,.col-s-16,.col-s-20,.col-s-25,.col-s-30,.col-s-33,.col-s-34,.col-s-35,.col-s-40,.col-s-42,.col-s-45,.col-s-50,.col-s-55,.col-s-58,.col-s-60,.col-s-65,.col-s-66,.col-s-70,.col-s-75,.col-s-80,.col-s-84,.col-s-85,.col-s-90,.col-s-92,.col-s-95,.col-s-100,.col-xs-5,.col-xs-8,.col-xs-10,.col-xs-15,.col-xs-16,.col-xs-20,.col-xs-25,.col-xs-30,.col-xs-33,.col-xs-34,.col-xs-35,.col-xs-40,.col-xs-42,.col-xs-45,.col-xs-50,.col-xs-55,.col-x-58,.col-xs-60,.col-xs-65,.col-xs-66,.col-xs-70,.col-xs-75,.col-xs-80,.col-xs-84,.col-xs-85,.col-xs-90,.col-xs-92,.col-xs-95,.col-xs-100 {
  	display: inline-block;
  	padding: 0 15px
}
.col-5 {
	width: 5%
}
.col-8 {
	width: 8.3333333%
}
.col-10 {
  	width: 10%
}
.col-15 {
  	width: 15%
}
.col-16 {
  	width: 16.6666667%
}
.col-20 {
  	width: 20%
}
.col-25 {
  	width: 25%
}
.col-30 {
	width: 30%
}
.col-33, .col-34 {
  	width: 33.3333333%
}
.col-35 {
	width: 35%
}
.col-40 {
	width: 40%
}
.col-42 {
  	width: 41.6666666%
}
.col-45 {
	width: 45%
}
.col-50 {
 	width: 50%
}
.col-55 {
	width: 55%
}
.col-58 {
  	width: 58.3333333%
}
.col-60 {
	width: 60%
}
.col-65 {
	width: 65%
}
.col-66 {
 	width: 66.6666666%
}
.col-70 {
	width: 70%
}
.col-75 {
	width: 75%
}
.col-80 {
	width: 80%
}
.col-84 {
  	width: 83.3333333%
}
.col-85 {
	width: 85%
}
.col-90 {
	width: 90%
}
.col-92 {
	width: 91.6666667%
}
.col-95 {
	width: 95%
}
.col-100 {
  	width:100%
}
.va-top {
  	vertical-align: top!important
}
.va-middle {
  	vertical-align: middle!important
}
.va-bottom {
  	vertical-align: bottom!important
}
.hidden {
  	display: none!important
}
.no-padt {
  	padding-top: 0!important
}
.no-padb {
  	padding-bottom: 0!important
}
.no-padl {
  	padding-left: 0!important
}
.no-padr  {
  	padding-right: 0!important
}
.no-border {
  	border: none
}
.no-margin {
  	margin: 0
}
.no-pad {
  	padding: 0
}
.t-center {
  	text-align: center
}
.t-left {
  	text-align: left
}
.t-right {
  	text-align: right
}
.pos-r {
  	position: relative
}
::-webkit-input-placeholder {
  	color: #666;
  	opacity: 1
}
:-moz-placeholder {
  	color: #666;
  	opacity: 1
}
::-moz-placeholder {
  	color: #666;
  	opacity: 1
}
:-ms-input-placeholder {
  	color: #666;
  	opacity: 1
}
body input:focus:required:invalid, 
body input:required:valid, 
body textarea:focus:required:invalid, 
body textarea:required:valid {
  	color: #666
} 
/* SystemMessages */
#SystemMessagesWrapper {
    position: fixed;
    left: 0;
    right: 0;
    bottom: 10%;
    z-index: 10000
}
#SystemMessages {
    max-width: 600px;
    margin: 0 auto;
    filter: none!important
}
#SystemMessages>div {
    display: none;
    border-radius: 1px;
    padding: 11px 18px;
    filter: none!important
}
#SystemMessages .error {
    background: red;
    border: 2px solid #000;
    border-color: #a51a1a;
    color: #fff;
    filter: none!important
}
#SystemMessages .message {
    background: green;
    border: 2px solid #000;
    border-color: #18be2d;
    color: #fff
}
#SystemMessages .hiddenMessage {
    display: none
}
#SystemMessages .messageBig {
    font-size: 25px;
    text-align: center;
    padding: 74px 20px;
    background: rgba(87, 174, 234, 0.94);
    color: #fff;
    border: 2px solid #000;
    border-color: rgb(60, 147, 206);
    margin-bottom: 20%
}
ion {
    display: none
}
/*MEDIA STYLES*/
@media only screen and (max-width: 1200px) {
  	.container, .container-p {
    	width: 970px
  	}
	.col-m-5 {
		width: 5%
	}
	.col-m-8 {
		width: 8.3333333%
	}
	.col-m-10 {
	  	width: 10%
	}
	.col-m-15 {
	  	width: 15%
	}
	.col-m-16 {
	  	width: 16.6666667%
	}
	.col-m-20 {
	  	width: 20%
	}
	.col-m-25 {
	  	width: 25%
	}
	.col-m-30 {
		width: 30%
	}
	.col-m-33, .col-m-34 {
	  	width: 33.3333333%
	}
	.col-m-35 {
		width: 35%
	}
	.col-m-40 {
		width: 40%
	}
	.col-m-42 {
	  	width: 41.6666666%
	}
	.col-m-45 {
		width: 45%
	}
	.col-m-50 {
	 	width: 50%
	}
	.col-m-55 {
		width: 55%
	}
	.col-m-58 {
	  	width: 58.3333333%
	}
	.col-m-60 {
		width: 60%
	}
	.col-m-65 {
		width: 65%
	}
	.col-m-66 {
	 	width: 66.6666666%
	}
	.col-m-70 {
		width: 70%
	}
	.col-m-75 {
		width: 75%
	}
	.col-m-80 {
		width: 80%
	}
	.col-m-84 {
	  	width: 83.3333333%
	}
	.col-m-85 {
		width: 85%
	}
	.col-m-90 {
		width: 90%
	}
	.col-m-92 {
		width: 91.6666667%
	}
	.col-m-95 {
		width: 95%
	}
	.col-m-100 {
	  	width:100%
	}
}
@media only screen and (max-width: 992px) {
  	.container, .container-p {
    	width: 750px
  	}
	.col-s-5 {
		width: 5%
	}
	.col-s-8 {
		width: 8.3333333%
	}
	.col-s-10 {
	  	width: 10%
	}
	.col-s-15 {
	  	width: 15%
	}
	.col-s-16 {
	  	width: 16.6666667%
	}
	.col-s-20 {
	  	width: 20%
	}
	.col-s-25 {
	  	width: 25%
	}
	.col-s-30 {
		width: 30%
	}
	.col-s-33, .col-s-34 {
	  	width: 33.3333333%
	}
	.col-s-35 {
		width: 35%
	}
	.col-s-40 {
		width: 40%
	}
	.col-s-42 {
	  	width: 41.6666666%
	}
	.col-s-45 {
		width: 45%
	}
	.col-s-50 {
	 	width: 50%
	}
	.col-s-55 {
		width: 55%
	}
	.col-s-58 {
	  	width: 58.3333333%
	}
	.col-s-60 {
		width: 60%
	}
	.col-s-65 {
		width: 65%
	}
	.col-s-66 {
	 	width: 66.6666666%
	}
	.col-s-70 {
		width: 70%
	}
	.col-s-75 {
		width: 75%
	}
	.col-s-80 {
		width: 80%
	}
	.col-s-84 {
	  	width: 83.3333333%
	}
	.col-s-85 {
		width: 85%
	}
	.col-s-90 {
		width: 90%
	}
	.col-s-92 {
		width: 91.6666667%
	}
	.col-s-95 {
		width: 95%
	}
	.col-s-100 {
	  	width:100%
	}
}
@media only screen and (max-width: 768px) {
  	.container, .container-p {
   	 	width: 100%
  	}
	.col-xs-5 {
		width: 5%
	}
	.col-xs-8 {
		width: 8.3333333%
	}
	.col-xs-10 {
	  	width: 10%
	}
	.col-xs-15 {
	  	width: 15%
	}
	.col-xs-16 {
	  	width: 16.6666667%
	}
	.col-xs-20 {
	  	width: 20%
	}
	.col-xs-25 {
	  	width: 25%
	}
	.col-xs-30 {
		width: 30%
	}
	.col-xs-33, .col-xs-34 {
	  	width: 33.3333333%
	}
	.col-xs-35 {
		width: 35%
	}
	.col-xs-40 {
		width: 40%
	}
	.col-xs-42 {
	  	width: 41.6666666%
	}
	.col-xs-45 {
		width: 45%
	}
	.col-xs-50 {
	 	width: 50%
	}
	.col-xs-55 {
		width: 55%
	}
	.col-xs-58 {
	  	width: 58.3333333%
	}
	.col-xs-60 {
		width: 60%
	}
	.col-xs-65 {
		width: 65%
	}
	.col-xs-66 {
	 	width: 66.6666666%
	}
	.col-xs-70 {
		width: 70%
	}
	.col-xs-75 {
		width: 75%
	}
	.col-xs-80 {
		width: 80%
	}
	.col-xs-84 {
	  	width: 83.3333333%
	}
	.col-xs-85 {
		width: 85%
	}
	.col-xs-90 {
		width: 90%
	}
	.col-xs-92 {
		width: 91.6666667%
	}
	.col-xs-95 {
		width: 95%
	}
	.col-xs-100 {
	  	width:100%
	}
}
@media only screen and (min-width : 1200px) {
  	.container, .container-p {
    	width: 1170px
  	}
  	.col-l-5 {
		width: 5%
	}
	.col-l-8 {
		width: 8.3333333%
	}
	.col-l-10 {
	  	width: 10%
	}
	.col-l-15 {
	  	width: 15%
	}
	.col-l-16 {
	  	width: 16.6666667%
	}
	.col-l-20 {
	  	width: 20%
	}
	.col-l-25 {
	  	width: 25%
	}
	.col-l-30 {
		width: 30%
	}
	.col-l-33, .col-l-34 {
	  	width: 33.3333333%
	}
	.col-l-35 {
		width: 35%
	}
	.col-l-40 {
		width: 40%
	}
	.col-l-42 {
	  	width: 41.6666666%
	}
	.col-l-45 {
		width: 45%
	}
	.col-l-50 {
	 	width: 50%
	}
	.col-l-55 {
		width: 55%
	}
	.col-s-58 {
	  	width: 58.3333333%
	}
	.col-l-60 {
		width: 60%
	}
	.col-l-65 {
		width: 65%
	}
	.col-l-66 {
	 	width: 66.6666666%
	}
	.col-l-70 {
		width: 70%
	}
	.col-l-75 {
		width: 75%
	}
	.col-l-80 {
		width: 80%
	}
	.col-l-84 {
	  	width: 83.3333333%
	}
	.col-l-85 {
		width: 85%
	}
	.col-l-90 {
		width: 90%
	}
	.col-l-92 {
		width: 91.6666667%
	}
	.col-l-95 {
		width: 95%
	}
	.col-l-100 {
	  	width:100%
	}
}
@media only screen and (min-width: 1200px) {
	.hidden-l, .hidden-l-m-s-xs, .hidden-l-m-s, .hidden-l-m, .hidden-l-m-xs, .hidden-l-s, .hidden-l-s-xs, .hidden-l-xs {
    	display: none!important
  	}
}
@media only screen and (min-width: 992px) and (max-width: 1200px) {
	.hidden-m, .hidden-l-m-s-xs, .hidden-l-m-s, .hidden-l-m, .hidden-l-m-xs, .hidden-m-s, .hidden-m-s-xs, .hidden-m-xs {
	    display: none!important
	}
}
@media only screen and (min-width: 768px) and (max-width: 992px) {
	.hidden-s, .hidden-l-m-s-xs, .hidden-l-m-s, .hidden-l-s, .hidden-l-s-xs, .hidden-m-s-xs, .hidden-m-s, .hidden-s-xs {
    	display: none!important
  	}
}
@media only screen and (min-width: 0px) and (max-width: 768px) {
	.hidden-xs, .hidden-l-m-s-xs, .hidden-l-m-xs, .hidden-l-s-xs, .hidden-l-xs, .hidden-m-s-xs, .hidden-m-xs, .hidden-s-xs {
    	display: none!important
  	}
}
.g-icon {
	display: inline-block;
	position: relative;
	vertical-align: middle;
	width: 30px;
	height: 20px;
	font-size: 0;
	cursor: pointer;
}
.g-icon span {
	display: inline-block;
	position: absolute;
	width: 100%;
	height: 2px;
	background-color: #000;
	border-radius: 0;
	left: 0
}
.g-icon span:nth-child(1) {
	top: 0
}
.g-icon span:nth-child(2) {
	top: 9px
}
.g-icon span:nth-child(3) {
	top: 18px
}